In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd

In [97]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from openpyxl) (1.1.0)

In [4]:
df=pd.read_excel("census_2011.xlsx")

In [5]:
df

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,1048.0,...,94.0,588.0,71.0,101.0,172.0,74.0,10.0,84.0,15.0,1119.0
1,2,JAMMU AND KASHMIR,Badgam,753745.0,NaN,355704.0,335649.0,207741.0,127908.0,NaN,...,126.0,562.0,72.0,89.0,161.0,96.0,28.0,124.0,18.0,1066.0
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,488.0,...,46.0,122.0,15.0,22.0,NaN,20.0,NaN,NaN,17.0,242.0
3,4,JAMMU AND KASHMIR,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0
4,5,JAMMU AND KASHMIR,Punch,NaN,251899.0,224936.0,261724.0,163333.0,98391.0,556.0,...,78.0,346.0,35.0,50.0,85.0,59.0,8.0,67.0,12.0,629.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,PONDICHERRY,Mahe,41816.0,19143.0,22673.0,36470.0,16610.0,19860.0,144.0,...,2316.0,4309.0,1370.0,838.0,2208.0,576.0,978.0,1554.0,1446.0,10027.0
636,637,PONDICHERRY,Karaikal,200222.0,97809.0,102413.0,154916.0,79903.0,75013.0,35348.0,...,1063.0,2408.0,665.0,340.0,1005.0,246.0,NaN,729.0,341.0,4890.0
637,638,ANDAMAN AND NICOBAR ISLANDS,Nicobars,36842.0,20727.0,NaN,25332.0,15397.0,9935.0,0.0,...,685.0,1895.0,212.0,134.0,346.0,70.0,120.0,190.0,84.0,3151.0
638,639,ANDAMAN AND NICOBAR ISLANDS,North AND Middle Andaman,105597.0,54861.0,50736.0,78683.0,43186.0,35497.0,0.0,...,685.0,1895.0,212.0,NaN,346.0,70.0,120.0,190.0,84.0,3151.0
639,640,ANDAMAN AND NICOBAR ISLANDS,South Andaman,NaN,127283.0,110859.0,190266.0,105794.0,84472.0,0.0,...,1371.0,3020.0,649.0,368.0,1017.0,265.0,497.0,762.0,376.0,5782.0

#-Task 1: rename column names

In [5]:
new_column_name={
  'State name': 'State/UT',
  'District name': 'District',
  'Male_Literate': 'Literate_Male',
  'Female_Literate': 'Literate_Female',
  'Rural_Households': 'Households_Rural',
  'Urban_ Households': 'Households_Urban',
  'Age_Group_0_29': 'Young_and_Adult',
  'Age_Group_30_49': 'Middle_Aged',
  'Age_Group_50': 'Senior_Citizen',
  'Age not stated': 'Age_Not_Stated'
}

In [6]:
df=df.rename(columns=new_column_name)

In [7]:
df.head(5)

,District code,State/UT,District,Population,Male,Female,Literate,Literate_Male,Literate_Female,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,1048.0,...,94.0,588.0,71.0,101.0,172.0,74.0,10.0,84.0,15.0,1119.0
1,2,JAMMU AND KASHMIR,Badgam,753745.0,NaN,355704.0,335649.0,207741.0,127908.0,NaN,...,126.0,562.0,72.0,89.0,161.0,96.0,28.0,124.0,18.0,1066.0
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,488.0,...,46.0,122.0,15.0,22.0,NaN,20.0,NaN,NaN,17.0,242.0
3,4,JAMMU AND KASHMIR,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0
4,5,JAMMU AND KASHMIR,Punch,NaN,251899.0,224936.0,261724.0,163333.0,98391.0,556.0,...,78.0,346.0,35.0,50.0,85.0,59.0,8.0,67.0,12.0,629.0

In [8]:
p=df['State/UT'][0]

In [9]:
p.capitalize()

'Jammu and kashmir'

In [105]:
p.split()

['JAMMU', 'AND', 'KASHMIR']

In [106]:
d=p.split()
l=[]
for i in d:
    if i=='AND':
        a=i.lower()
        l.append(a)
    else:
        a=i.lower()
        l.append(a.capitalize())
print(l)
b=" ".join(l)
print(b)

['Jammu', 'and', 'Kashmir']
Jammu and Kashmir

In [4]:
df.head()

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,1048.0,...,94.0,588.0,71.0,101.0,172.0,74.0,10.0,84.0,15.0,1119.0
1,2,JAMMU AND KASHMIR,Badgam,753745.0,NaN,355704.0,335649.0,207741.0,127908.0,NaN,...,126.0,562.0,72.0,89.0,161.0,96.0,28.0,124.0,18.0,1066.0
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,488.0,...,46.0,122.0,15.0,22.0,NaN,20.0,NaN,NaN,17.0,242.0
3,4,JAMMU AND KASHMIR,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0
4,5,JAMMU AND KASHMIR,Punch,NaN,251899.0,224936.0,261724.0,163333.0,98391.0,556.0,...,78.0,346.0,35.0,50.0,85.0,59.0,8.0,67.0,12.0,629.0

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Columns: 118 entries, District code to Total_Power_Parity
dtypes: float64(115), int64(1), object(2)
memory usage: 590.1+ KB

In [109]:
h=df['State/UT'][0]

m={'JAMMU AND KASHMIR':b}

In [110]:
df=df.replace(to_replace=h,value=b)
df.head()

,District code,State/UT,District,Population,Male,Female,Literate,Literate_Male,Literate_Female,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,Jammu and Kashmir,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,1048.0,...,94.0,588.0,71.0,101.0,172.0,74.0,10.0,84.0,15.0,1119.0
1,2,Jammu and Kashmir,Badgam,753745.0,NaN,355704.0,335649.0,207741.0,127908.0,NaN,...,126.0,562.0,72.0,89.0,161.0,96.0,28.0,124.0,18.0,1066.0
2,3,Jammu and Kashmir,Leh(Ladakh),133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,488.0,...,46.0,122.0,15.0,22.0,NaN,20.0,NaN,NaN,17.0,242.0
3,4,Jammu and Kashmir,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0
4,5,Jammu and Kashmir,Punch,NaN,251899.0,224936.0,261724.0,163333.0,98391.0,556.0,...,78.0,346.0,35.0,50.0,85.0,59.0,8.0,67.0,12.0,629.0

In [10]:
n=df.shape[0]
print(n)

640

In [11]:
df

,District code,State/UT,District,Population,Male,Female,Literate,Literate_Male,Literate_Female,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,1048.0,...,94.0,588.0,71.0,101.0,172.0,74.0,10.0,84.0,15.0,1119.0
1,2,JAMMU AND KASHMIR,Badgam,753745.0,NaN,355704.0,335649.0,207741.0,127908.0,NaN,...,126.0,562.0,72.0,89.0,161.0,96.0,28.0,124.0,18.0,1066.0
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,488.0,...,46.0,122.0,15.0,22.0,NaN,20.0,NaN,NaN,17.0,242.0
3,4,JAMMU AND KASHMIR,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0
4,5,JAMMU AND KASHMIR,Punch,NaN,251899.0,224936.0,261724.0,163333.0,98391.0,556.0,...,78.0,346.0,35.0,50.0,85.0,59.0,8.0,67.0,12.0,629.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,PONDICHERRY,Mahe,41816.0,19143.0,22673.0,36470.0,16610.0,19860.0,144.0,...,2316.0,4309.0,1370.0,838.0,2208.0,576.0,978.0,1554.0,1446.0,10027.0
636,637,PONDICHERRY,Karaikal,200222.0,97809.0,102413.0,154916.0,79903.0,75013.0,35348.0,...,1063.0,2408.0,665.0,340.0,1005.0,246.0,NaN,729.0,341.0,4890.0
637,638,ANDAMAN AND NICOBAR ISLANDS,Nicobars,36842.0,20727.0,NaN,25332.0,15397.0,9935.0,0.0,...,685.0,1895.0,212.0,134.0,346.0,70.0,120.0,190.0,84.0,3151.0
638,639,ANDAMAN AND NICOBAR ISLANDS,North AND Middle Andaman,105597.0,54861.0,50736.0,78683.0,43186.0,35497.0,0.0,...,685.0,1895.0,212.0,NaN,346.0,70.0,120.0,190.0,84.0,3151.0
639,640,ANDAMAN AND NICOBAR ISLANDS,South Andaman,NaN,127283.0,110859.0,190266.0,105794.0,84472.0,0.0,...,1371.0,3020.0,649.0,368.0,1017.0,265.0,497.0,762.0,376.0,5782.0

In [113]:
d={'ANDAMAN AND NICOBAR ISLANDS':'Andaman and Nicobar Islands'}
df=df.replace(d)
df.tail()

,District code,State/UT,District,Population,Male,Female,Literate,Literate_Male,Literate_Female,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
635,636,PONDICHERRY,Mahe,41816.0,19143.0,22673.0,36470.0,16610.0,19860.0,144.0,...,2316.0,4309.0,1370.0,838.0,2208.0,576.0,978.0,1554.0,1446.0,10027.0
636,637,PONDICHERRY,Karaikal,200222.0,97809.0,102413.0,154916.0,79903.0,75013.0,35348.0,...,1063.0,2408.0,665.0,340.0,1005.0,246.0,NaN,729.0,341.0,4890.0
637,638,Andaman and Nicobar Islands,Nicobars,36842.0,20727.0,NaN,25332.0,15397.0,9935.0,0.0,...,685.0,1895.0,212.0,134.0,346.0,70.0,120.0,190.0,84.0,3151.0
638,639,Andaman and Nicobar Islands,North AND Middle Andaman,105597.0,54861.0,50736.0,78683.0,43186.0,35497.0,0.0,...,685.0,1895.0,212.0,NaN,346.0,70.0,120.0,190.0,84.0,3151.0
639,640,Andaman and Nicobar Islands,South Andaman,NaN,127283.0,110859.0,190266.0,105794.0,84472.0,0.0,...,1371.0,3020.0,649.0,368.0,1017.0,265.0,497.0,762.0,376.0,5782.0

In [13]:

df=df.drop_duplicates(subset='State/UT')
l=[]

result=[]
for i in df['State/UT']:
    l.append(i)
    j=i.split()
    new=[]
    # print(j)
    for k in j:
        if k=='and' or k=='AND':
            new.append(k.lower())
        else:
            new.append(k.lower().capitalize())
    # print(new)
    result.append(" ".join(new))

print(l)
print(result)

['JAMMU AND KASHMIR', 'HIMACHAL PRADESH', 'PUNJAB', 'CHANDIGARH', 'UTTARAKHAND', 'HARYANA', 'NCT OF DELHI', 'RAJASTHAN', 'UTTAR PRADESH', 'BIHAR', 'SIKKIM', 'ARUNACHAL PRADESH', 'NAGALAND', 'MANIPUR', 'MIZORAM', 'TRIPURA', 'MEGHALAYA', 'ASSAM', 'WEST BENGAL', 'JHARKHAND', 'ORISSA', 'CHHATTISGARH', 'MADHYA PRADESH', 'GUJARAT', 'DAMAN AND DIU', 'DADRA AND NAGAR HAVELI', 'MAHARASHTRA', 'ANDHRA PRADESH', 'KARNATAKA', 'GOA', 'LAKSHADWEEP', 'KERALA', 'TAMIL NADU', 'PONDICHERRY', 'ANDAMAN AND NICOBAR ISLANDS']
['Jammu and Kashmir', 'Himachal Pradesh', 'Punjab', 'Chandigarh', 'Uttarakhand', 'Haryana', 'Nct Of Delhi', 'Rajasthan', 'Uttar Pradesh', 'Bihar', 'Sikkim', 'Arunachal Pradesh', 'Nagaland', 'Manipur', 'Mizoram', 'Tripura', 'Meghalaya', 'Assam', 'West Bengal', 'Jharkhand', 'Orissa', 'Chhattisgarh', 'Madhya Pradesh', 'Gujarat', 'Daman and Diu', 'Dadra and Nagar Haveli', 'Maharashtra', 'Andhra Pradesh', 'Karnataka', 'Goa', 'Lakshadweep', 'Kerala', 'Tamil Nadu', 'Pondicherry', 'Andaman and Nicobar Islands']

In [115]:
df.head()

,District code,State/UT,District,Population,Male,Female,Literate,Literate_Male,Literate_Female,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,Jammu and Kashmir,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,1048.0,...,94.0,588.0,71.0,101.0,172.0,74.0,10.0,84.0,15.0,1119.0
22,23,HIMACHAL PRADESH,Chamba,519080.0,261320.0,257760.0,323842.0,186064.0,137778.0,111690.0,...,222.0,498.0,72.0,38.0,110.0,49.0,79.0,128.0,97.0,950.0
34,35,PUNJAB,Gurdaspur,2298323.0,NaN,1085706.0,1634719.0,907660.0,727059.0,580576.0,...,NaN,2273.0,830.0,459.0,1289.0,575.0,897.0,1472.0,678.0,5982.0
54,55,CHANDIGARH,Chandigarh,1055450.0,580663.0,474787.0,805438.0,465346.0,340092.0,199086.0,...,7152.0,10783.0,4285.0,2444.0,6729.0,3382.0,4461.0,7843.0,7897.0,34145.0
55,56,UTTARAKHAND,Uttarkashi,330086.0,168597.0,161489.0,215126.0,128237.0,86889.0,80567.0,...,66.0,199.0,23.0,32.0,55.0,19.0,NaN,23.0,5.0,356.0

In [14]:
new_df=pd.read_excel("census_2011.xlsx")

In [15]:
new_df

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,1048.0,...,94.0,588.0,71.0,101.0,172.0,74.0,10.0,84.0,15.0,1119.0
1,2,JAMMU AND KASHMIR,Badgam,753745.0,NaN,355704.0,335649.0,207741.0,127908.0,NaN,...,126.0,562.0,72.0,89.0,161.0,96.0,28.0,124.0,18.0,1066.0
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,488.0,...,46.0,122.0,15.0,22.0,NaN,20.0,NaN,NaN,17.0,242.0
3,4,JAMMU AND KASHMIR,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0
4,5,JAMMU AND KASHMIR,Punch,NaN,251899.0,224936.0,261724.0,163333.0,98391.0,556.0,...,78.0,346.0,35.0,50.0,85.0,59.0,8.0,67.0,12.0,629.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,PONDICHERRY,Mahe,41816.0,19143.0,22673.0,36470.0,16610.0,19860.0,144.0,...,2316.0,4309.0,1370.0,838.0,2208.0,576.0,978.0,1554.0,1446.0,10027.0
636,637,PONDICHERRY,Karaikal,200222.0,97809.0,102413.0,154916.0,79903.0,75013.0,35348.0,...,1063.0,2408.0,665.0,340.0,1005.0,246.0,NaN,729.0,341.0,4890.0
637,638,ANDAMAN AND NICOBAR ISLANDS,Nicobars,36842.0,20727.0,NaN,25332.0,15397.0,9935.0,0.0,...,685.0,1895.0,212.0,134.0,346.0,70.0,120.0,190.0,84.0,3151.0
638,639,ANDAMAN AND NICOBAR ISLANDS,North AND Middle Andaman,105597.0,54861.0,50736.0,78683.0,43186.0,35497.0,0.0,...,685.0,1895.0,212.0,NaN,346.0,70.0,120.0,190.0,84.0,3151.0
639,640,ANDAMAN AND NICOBAR ISLANDS,South Andaman,NaN,127283.0,110859.0,190266.0,105794.0,84472.0,0.0,...,1371.0,3020.0,649.0,368.0,1017.0,265.0,497.0,762.0,376.0,5782.0

In [16]:
print(l[34])
print(len(l))
print(result[34])

ANDAMAN AND NICOBAR ISLANDS
35
Andaman and Nicobar Islands

In [17]:
for i in range(len(l)):
    new_df= new_df.replace(to_replace=l[i],value=result[i])
new_df.head(30)

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,Jammu and Kashmir,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,1048.0,...,94.0,588.0,71.0,101.0,172.0,74.0,10.0,84.0,15.0,1119.0
1,2,Jammu and Kashmir,Badgam,753745.0,NaN,355704.0,335649.0,207741.0,127908.0,NaN,...,126.0,562.0,72.0,89.0,161.0,96.0,28.0,124.0,18.0,1066.0
2,3,Jammu and Kashmir,Leh(Ladakh),133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,488.0,...,46.0,122.0,15.0,22.0,NaN,20.0,NaN,NaN,17.0,242.0
3,4,Jammu and Kashmir,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0
4,5,Jammu and Kashmir,Punch,NaN,251899.0,224936.0,261724.0,163333.0,98391.0,556.0,...,78.0,346.0,35.0,50.0,85.0,59.0,8.0,67.0,12.0,629.0
5,6,Jammu and Kashmir,Rajouri,642415.0,345351.0,297064.0,364109.0,224469.0,139640.0,48157.0,...,NaN,443.0,42.0,NaN,100.0,72.0,22.0,94.0,15.0,786.0
6,7,Jammu and Kashmir,Kathua,616435.0,326109.0,290326.0,389204.0,228499.0,160705.0,141224.0,...,174.0,514.0,54.0,69.0,123.0,78.0,52.0,130.0,28.0,936.0
7,8,Jammu and Kashmir,Baramula,1008039.0,534733.0,473306.0,NaN,337170.0,207979.0,1476.0,...,254.0,1049.0,155.0,190.0,345.0,NaN,78.0,255.0,64.0,2100.0
8,9,Jammu and Kashmir,Bandipore,392232.0,207680.0,184552.0,185979.0,117058.0,68921.0,392.0,...,11.0,NaN,2.0,2.0,4.0,3.0,3.0,6.0,0.0,45.0
9,10,Jammu and Kashmir,Srinagar,1236829.0,651124.0,585705.0,748584.0,431746.0,316838.0,1068.0,...,668.0,1095.0,319.0,380.0,699.0,240.0,370.0,610.0,445.0,3099.0
10,11,Jammu and Kashmir,Ganderbal,297446.0,158720.0,138726.0,143276.0,NaN,52695.0,117.0,...,5.0,15.0,1.0,1.0,2.0,2.0,1.0,3.0,0.0,24.0
11,12,Jammu and Kashmir,Pulwama,560440.0,293064.0,267376.0,293958.0,178326.0,115632.0,402.0,...,119.0,549.0,71.0,96.0,167.0,84.0,24.0,108.0,32.0,1068.0
12,13,Jammu and Kashmir,Shupiyan,266215.0,136480.0,129735.0,136500.0,80355.0,56145.0,43.0,...,39.0,257.0,33.0,47.0,80.0,29.0,6.0,35.0,9.0,500.0
13,14,Jammu and Kashmir,Anantnag,1078692.0,559767.0,518925.0,NaN,324417.0,221115.0,1826.0,...,254.0,1092.0,151.0,191.0,NaN,181.0,68.0,249.0,57.0,2144.0
14,15,Jammu and Kashmir,Kulgam,424483.0,NaN,206863.0,209085.0,125052.0,84033.0,21.0,...,8.0,17.0,1.0,1.0,2.0,2.0,2.0,4.0,0.0,26.0
15,16,Jammu and Kashmir,Doda,409936.0,213641.0,196295.0,219083.0,138620.0,80463.0,53408.0,...,99.0,566.0,75.0,102.0,177.0,74.0,19.0,93.0,NaN,1103.0
16,17,Jammu and Kashmir,Ramban,283713.0,NaN,134581.0,124065.0,82938.0,41127.0,13920.0,...,3.0,6.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,NaN
17,18,Jammu and Kashmir,Kishtwar,230696.0,120165.0,NaN,NaN,68700.0,38806.0,14307.0,...,8.0,19.0,NaN,1.0,2.0,2.0,3.0,5.0,0.0,28.0
18,19,Jammu and Kashmir,Udhampur,554985.0,296784.0,258201.0,322354.0,197543.0,124811.0,138569.0,...,171.0,663.0,87.0,107.0,194.0,122.0,43.0,165.0,37.0,1278.0
19,20,Jammu and Kashmir,Reasi,314667.0,166461.0,148206.0,150542.0,93937.0,56605.0,37757.0,...,5.0,10.0,1.0,1.0,2.0,1.0,1.0,2.0,1.0,17.0
20,21,Jammu and Kashmir,Jammu,1529958.0,813821.0,716137.0,1137135.0,641916.0,495219.0,377991.0,...,682.0,1509.0,281.0,382.0,663.0,282.0,271.0,553.0,398.0,3525.0
21,22,Jammu and Kashmir,Samba,318898.0,169124.0,149774.0,228139.0,130312.0,97827.0,91835.0,...,89.0,380.0,48.0,62.0,110.0,60.0,21.0,81.0,18.0,728.0
22,23,Himachal Pradesh,Chamba,519080.0,261320.0,257760.0,323842.0,186064.0,137778.0,111690.0,...,222.0,498.0,72.0,38.0,110.0,49.0,79.0,128.0,97.0,950.0
23,24,Himachal Pradesh,Kangra,1510075.0,750591.0,759484.0,1152640.0,606443.0,546197.0,319385.0,...,706.0,1506.0,252.0,101.0,353.0,127.0,206.0,333.0,369.0,2878.0
24,25,Himachal Pradesh,Lahul AND Spiti,31564.0,16588.0,14976.0,21845.0,12897.0,8948.0,2235.0,...,17.0,36.0,6.0,2.0,8.0,3.0,5.0,8.0,9.0,67.0
25,26,Himachal Pradesh,Kullu,437903.0,225452.0,212451.0,307672.0,174550.0,133122.0,122659.0,...,205.0,444.0,70.0,35.0,105.0,41.0,67.0,108.0,100.0,854.0
26,27,Himachal Pradesh,Mandi,999777.0,498065.0,501712.0,723747.0,393669.0,330078.0,293739.0,...,431.0,966.0,131.0,77.0,208.0,93.0,152.0,245.0,190.0,1842.0
27,28,Himachal Pradesh,Hamirpur,454768.0,217070.0,237698.0,358091.0,180555.0,177536.0,NaN,...,215.0,455.0,77.0,NaN,111.0,40.0,64.0,104.0,113.0,NaN
28,29,Himachal Pradesh,Una,521173.0,263692.0,257481.0,399715.0,213281.0,186434.0,115491.0,...,240.0,NaN,87.0,38.0,125.0,46.0,75.0,121.0,122.0,987.0
29,30,Himachal Pradesh,Bilaspur,381956.0,192764.0,189192.0,287620.0,155599.0,132021.0,98989.0,...,671.0,1885.0,271.0,221.0,492.0,315.0,374.0,689.0,72.0,3666.0

In [18]:
new_df.to_excel("change_state_names.xlsx")

In [19]:
new_df

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,Jammu and Kashmir,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,1048.0,...,94.0,588.0,71.0,101.0,172.0,74.0,10.0,84.0,15.0,1119.0
1,2,Jammu and Kashmir,Badgam,753745.0,NaN,355704.0,335649.0,207741.0,127908.0,NaN,...,126.0,562.0,72.0,89.0,161.0,96.0,28.0,124.0,18.0,1066.0
2,3,Jammu and Kashmir,Leh(Ladakh),133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,488.0,...,46.0,122.0,15.0,22.0,NaN,20.0,NaN,NaN,17.0,242.0
3,4,Jammu and Kashmir,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0
4,5,Jammu and Kashmir,Punch,NaN,251899.0,224936.0,261724.0,163333.0,98391.0,556.0,...,78.0,346.0,35.0,50.0,85.0,59.0,8.0,67.0,12.0,629.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,Pondicherry,Mahe,41816.0,19143.0,22673.0,36470.0,16610.0,19860.0,144.0,...,2316.0,4309.0,1370.0,838.0,2208.0,576.0,978.0,1554.0,1446.0,10027.0
636,637,Pondicherry,Karaikal,200222.0,97809.0,102413.0,154916.0,79903.0,75013.0,35348.0,...,1063.0,2408.0,665.0,340.0,1005.0,246.0,NaN,729.0,341.0,4890.0
637,638,Andaman and Nicobar Islands,Nicobars,36842.0,20727.0,NaN,25332.0,15397.0,9935.0,0.0,...,685.0,1895.0,212.0,134.0,346.0,70.0,120.0,190.0,84.0,3151.0
638,639,Andaman and Nicobar Islands,North AND Middle Andaman,105597.0,54861.0,50736.0,78683.0,43186.0,35497.0,0.0,...,685.0,1895.0,212.0,NaN,346.0,70.0,120.0,190.0,84.0,3151.0
639,640,Andaman and Nicobar Islands,South Andaman,NaN,127283.0,110859.0,190266.0,105794.0,84472.0,0.0,...,1371.0,3020.0,649.0,368.0,1017.0,265.0,497.0,762.0,376.0,5782.0

In [31]:
a=new_df[new_df['District name']=='Adilabad']

In [32]:
a

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
531,532,Andhra Pradesh,Adilabad,2741239.0,NaN,1371642.0,1483347.0,856350.0,626997.0,488596.0,...,1266.0,2870.0,84.0,122.0,206.0,134.0,213.0,347.0,109.0,4181.0

In [40]:
tel = [
    "Adilabad",
    "Nizamabad",
    "Karimnagar",
    "Medak",
    "Hyderabad",
    "Rangareddy",
    "Mahbubnagar",
    "Nalgonda",
    "Warangal",
    "Khammam"
]

In [41]:
b=new_df.replace(to_replace='Andhra Pradesh',value='Telangana')

In [46]:
for i in range(len(tel)):
    new_df[new_df['District name']==tel[i]]
    new_df.replace(to_replace='Andhra Pradesh',value='Telangana')
new_df

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,Jammu and Kashmir,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,1048.0,...,94.0,588.0,71.0,101.0,172.0,74.0,10.0,84.0,15.0,1119.0
1,2,Jammu and Kashmir,Badgam,753745.0,NaN,355704.0,335649.0,207741.0,127908.0,NaN,...,126.0,562.0,72.0,89.0,161.0,96.0,28.0,124.0,18.0,1066.0
2,3,Jammu and Kashmir,Leh(Ladakh),133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,488.0,...,46.0,122.0,15.0,22.0,NaN,20.0,NaN,NaN,17.0,242.0
3,4,Jammu and Kashmir,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0
4,5,Jammu and Kashmir,Punch,NaN,251899.0,224936.0,261724.0,163333.0,98391.0,556.0,...,78.0,346.0,35.0,50.0,85.0,59.0,8.0,67.0,12.0,629.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,Pondicherry,Mahe,41816.0,19143.0,22673.0,36470.0,16610.0,19860.0,144.0,...,2316.0,4309.0,1370.0,838.0,2208.0,576.0,978.0,1554.0,1446.0,10027.0
636,637,Pondicherry,Karaikal,200222.0,97809.0,102413.0,154916.0,79903.0,75013.0,35348.0,...,1063.0,2408.0,665.0,340.0,1005.0,246.0,NaN,729.0,341.0,4890.0
637,638,Andaman and Nicobar Islands,Nicobars,36842.0,20727.0,NaN,25332.0,15397.0,9935.0,0.0,...,685.0,1895.0,212.0,134.0,346.0,70.0,120.0,190.0,84.0,3151.0
638,639,Andaman and Nicobar Islands,North AND Middle Andaman,105597.0,54861.0,50736.0,78683.0,43186.0,35497.0,0.0,...,685.0,1895.0,212.0,NaN,346.0,70.0,120.0,190.0,84.0,3151.0
639,640,Andaman and Nicobar Islands,South Andaman,NaN,127283.0,110859.0,190266.0,105794.0,84472.0,0.0,...,1371.0,3020.0,649.0,368.0,1017.0,265.0,497.0,762.0,376.0,5782.0

In [47]:
new_df[new_df['District name']=='Adilabad']

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
531,532,Andhra Pradesh,Adilabad,2741239.0,NaN,1371642.0,1483347.0,856350.0,626997.0,488596.0,...,1266.0,2870.0,84.0,122.0,206.0,134.0,213.0,347.0,109.0,4181.0

In [54]:
tel = [
    "Adilabad",
    "Nizamabad",
    "Karimnagar",
    "Medak",
    "Hyderabad",
    "Rangareddy",
    "Mahbubnagar",
    "Nalgonda",
    "Warangal",
    "Khammam"
]

for i in range(len(tel)):
    # Filter DataFrame based on current element of 'tel'
    if (new_df['District name'] == tel[i]):
        new_df.replace(to_replace='Andhra Pradesh', value='Telangana', inplace=True)

# Now 'new_df' should contain the updated data with replacements
new_df.tail(100)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [57]:
tel = [
    "Adilabad",
    "Nizamabad",
    "Karimnagar",
    "Medak",
    "Hyderabad",
    "Rangareddy",
    "Mahbubnagar",
    "Nalgonda",
    "Warangal",
    "Khammam"
]

# Filter DataFrame based on the list 'tel' and replace 'Andhra Pradesh' with 'Telangana'
new_df.loc[new_df['District name'].isin(tel), 'State name'] = 'Telangana'

# Display the last 100 rows of the updated DataFrame
new_df.tail(110)

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
530,531,Maharashtra,Sangli,2822143.0,1435728.0,1386415.0,2049467.0,1121550.0,NaN,353093.0,...,1418.0,3107.0,313.0,435.0,748.0,595.0,496.0,1091.0,442.0,5798.0
531,532,Telangana,Adilabad,2741239.0,NaN,1371642.0,1483347.0,856350.0,626997.0,488596.0,...,1266.0,2870.0,84.0,122.0,206.0,134.0,213.0,347.0,109.0,4181.0
532,533,Telangana,Nizamabad,2551335.0,1250641.0,1300694.0,1389810.0,790214.0,599596.0,371074.0,...,931.0,2399.0,61.0,60.0,121.0,71.0,105.0,176.0,100.0,NaN
533,534,Telangana,Karimnagar,3776269.0,1880800.0,1895469.0,2206829.0,1257238.0,949591.0,709757.0,...,1420.0,3583.0,128.0,99.0,227.0,119.0,173.0,292.0,186.0,5251.0
534,535,Telangana,Medak,3033288.0,1523030.0,1510258.0,1637137.0,953406.0,683731.0,537947.0,...,997.0,2656.0,84.0,59.0,143.0,71.0,102.0,173.0,116.0,3874.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,Pondicherry,Mahe,41816.0,19143.0,22673.0,36470.0,16610.0,19860.0,144.0,...,2316.0,4309.0,1370.0,838.0,2208.0,576.0,978.0,1554.0,1446.0,10027.0
636,637,Pondicherry,Karaikal,200222.0,97809.0,102413.0,154916.0,79903.0,75013.0,35348.0,...,1063.0,2408.0,665.0,340.0,1005.0,246.0,NaN,729.0,341.0,4890.0
637,638,Andaman and Nicobar Islands,Nicobars,36842.0,20727.0,NaN,25332.0,15397.0,9935.0,0.0,...,685.0,1895.0,212.0,134.0,346.0,70.0,120.0,190.0,84.0,3151.0
638,639,Andaman and Nicobar Islands,North AND Middle Andaman,105597.0,54861.0,50736.0,78683.0,43186.0,35497.0,0.0,...,685.0,1895.0,212.0,NaN,346.0,70.0,120.0,190.0,84.0,3151.0
639,640,Andaman and Nicobar Islands,South Andaman,NaN,127283.0,110859.0,190266.0,105794.0,84472.0,0.0,...,1371.0,3020.0,649.0,368.0,1017.0,265.0,497.0,762.0,376.0,5782.0

In [58]:
new_df[new_df['District name']=='Adilabad']

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
531,532,Telangana,Adilabad,2741239.0,NaN,1371642.0,1483347.0,856350.0,626997.0,488596.0,...,1266.0,2870.0,84.0,122.0,206.0,134.0,213.0,347.0,109.0,4181.0

In [67]:
new_df.loc[new_df['ict naDistrme'].isin(tel),'State name']= 'Telangana'
new_df.loc[new_df['District name'].isin(tel)]

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
531,532,Telangana,Adilabad,2741239.0,NaN,1371642.0,1483347.0,856350.0,626997.0,488596.0,...,1266.0,2870.0,84.0,122.0,206.0,134.0,213.0,347.0,109.0,4181.0
532,533,Telangana,Nizamabad,2551335.0,1250641.0,1300694.0,1389810.0,790214.0,599596.0,371074.0,...,931.0,2399.0,61.0,60.0,121.0,71.0,105.0,176.0,100.0,NaN
533,534,Telangana,Karimnagar,3776269.0,1880800.0,1895469.0,2206829.0,1257238.0,949591.0,709757.0,...,1420.0,3583.0,128.0,99.0,227.0,119.0,173.0,292.0,186.0,5251.0
534,535,Telangana,Medak,3033288.0,1523030.0,1510258.0,1637137.0,953406.0,683731.0,537947.0,...,997.0,2656.0,84.0,59.0,143.0,71.0,102.0,173.0,116.0,3874.0
535,536,Telangana,Hyderabad,3943323.0,2018575.0,1924748.0,2892155.0,1542688.0,1349467.0,247927.0,...,3204.0,5212.0,1708.0,494.0,2202.0,NaN,860.0,1531.0,1710.0,11071.0
536,537,Telangana,Rangareddy,5296741.0,2701008.0,2595733.0,NaN,1948784.0,1589244.0,652042.0,...,2912.0,5426.0,528.0,373.0,901.0,438.0,650.0,1088.0,603.0,NaN
537,538,Telangana,Mahbubnagar,4053028.0,2050386.0,2002642.0,1940646.0,1158386.0,782260.0,708954.0,...,1137.0,3241.0,70.0,54.0,124.0,65.0,95.0,160.0,102.0,4695.0
538,539,Telangana,Nalgonda,3488809.0,1759772.0,1729037.0,2001019.0,1160757.0,840262.0,637385.0,...,1106.0,3043.0,NaN,72.0,136.0,84.0,125.0,209.0,113.0,4468.0
539,540,Telangana,Warangal,3512576.0,1759281.0,1753295.0,2065023.0,1179790.0,885233.0,616102.0,...,1203.0,3139.0,135.0,93.0,228.0,112.0,162.0,274.0,185.0,4762.0
540,541,Telangana,Khammam,2797370.0,1390988.0,1406382.0,1630234.0,901640.0,728594.0,462896.0,...,1012.0,2596.0,75.0,78.0,153.0,92.0,136.0,NaN,127.0,3836.0

In [69]:
new_column= {
    'State name': 'State/UT',
    'District name': 'District',
    'Male_Literate': 'Literate_Male',
    'Female_Literate': 'Literate_Female',
    'Rural_Households': 'Households_Rural',
    'Urban_Households': 'Households_Urban',
    'Age_Group_0_29': 'Young_and_Adult',
    'Age_Group_30_49': 'Middle_Aged',
    'Age_Group_50': 'Senior_Citizen',
    'Age not stated': 'Age_Not_Stated'
}

In [70]:
new_df.rename(columns=new_column,inplace=True)
new_df

,District code,State/UT,District,Population,Male,Female,Literate,Literate_Male,Literate_Female,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,Jammu and Kashmir,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,1048.0,...,94.0,588.0,71.0,101.0,172.0,74.0,10.0,84.0,15.0,1119.0
1,2,Jammu and Kashmir,Badgam,753745.0,NaN,355704.0,335649.0,207741.0,127908.0,NaN,...,126.0,562.0,72.0,89.0,161.0,96.0,28.0,124.0,18.0,1066.0
2,3,Jammu and Kashmir,Leh(Ladakh),133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,488.0,...,46.0,122.0,15.0,22.0,NaN,20.0,NaN,NaN,17.0,242.0
3,4,Jammu and Kashmir,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0
4,5,Jammu and Kashmir,Punch,476835.0,251899.0,224936.0,261724.0,163333.0,98391.0,556.0,...,78.0,346.0,35.0,50.0,85.0,59.0,8.0,67.0,12.0,629.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,Pondicherry,Mahe,41816.0,19143.0,22673.0,36470.0,16610.0,19860.0,144.0,...,2316.0,4309.0,1370.0,838.0,2208.0,576.0,978.0,1554.0,1446.0,10027.0
636,637,Pondicherry,Karaikal,200222.0,97809.0,102413.0,154916.0,79903.0,75013.0,35348.0,...,1063.0,2408.0,665.0,340.0,1005.0,246.0,NaN,729.0,341.0,4890.0
637,638,Andaman and Nicobar Islands,Nicobars,36842.0,20727.0,NaN,25332.0,15397.0,9935.0,0.0,...,685.0,1895.0,212.0,134.0,346.0,70.0,120.0,190.0,84.0,3151.0
638,639,Andaman and Nicobar Islands,North AND Middle Andaman,105597.0,54861.0,50736.0,78683.0,43186.0,35497.0,0.0,...,685.0,1895.0,212.0,NaN,346.0,70.0,120.0,190.0,84.0,3151.0
639,640,Andaman and Nicobar Islands,South Andaman,238142.0,127283.0,110859.0,190266.0,105794.0,84472.0,0.0,...,1371.0,3020.0,649.0,368.0,1017.0,265.0,497.0,762.0,376.0,5782.0

In [72]:
import pandas as pd

# Assume new_df is the DataFrame you are working with

# Step 1: Calculate the initial percentage of missing data
missing_data_initial = new_df.isnull().sum() / len(new_df) * 100

# Step 2: Fill in missing data based on given hints
# Population = Male + Female
new_df['Population'] = new_df.apply(
    lambda row: row['Male'] + row['Female'] if pd.isnull(row['Population']) and pd.notnull(row['Male']) and pd.notnull(row['Female']) else row['Population'], axis=1
)

# Literate = Literate_Male + Literate_Female
new_df['Literate'] = new_df.apply(
    lambda row: row['Literate_Male'] + row['Literate_Female'] if pd.isnull(row['Literate']) and pd.notnull(row['Literate_Male']) and pd.notnull(row['Literate_Female']) else row['Literate'], axis=1
)

# Population = Young_and_Adult + Middle_Aged + Senior_Citizen + Age_Not_Stated
new_df['Population'] = new_df.apply(
    lambda row: row['Young_and_Adult'] + row['Middle_Aged'] + row['Senior_Citizen'] + row['Age_Not_Stated'] if pd.isnull(row['Population']) and pd.notnull(row['Young_and_Adult']) and pd.notnull(row['Middle_Aged']) and pd.notnull(row['Senior_Citizen']) and pd.notnull(row['Age_Not_Stated']) else row['Population'], axis=1
)

# Households = Households_Rural + Households_Urban
new_df['Households'] = new_df.apply(
    lambda row: row['Households_Rural'] + row['Households_Urban'] if pd.isnull(row['Households']) and pd.notnull(row['Households_Rural']) and pd.notnull(row['Households_Urban']) else row['Households'], axis=1
)

# Step 3: Calculate the percentage of missing data after filling in
missing_data_after = new_df.isnull().sum() / len(new_df) * 100

# Step 4: Compare the amount of missing data before and after
comparison = pd.DataFrame({
    'Initial Missing %': missing_data_initial,
    'After Filling Missing %': missing_data_after
})

# Display the compari
comparison.head(10)

                 Initial Missing %  After Filling Missing %
District code              0.00000                  0.00000
State/UT                   0.00000                  0.00000
District                   0.00000                  0.00000
Population                 0.15625                  0.15625
Male                       4.68750                  4.68750
Female                     5.15625                  5.15625
Literate                   0.31250                  0.31250
Literate_Male              4.84375                  4.84375
Literate_Female            4.21875                  4.21875
SC                         5.46875                  5.46875

In [74]:
new_df.isnull().sum()

District code                     0
State/UT                          0
District                          0
Population                        1
Male                             30
                                 ..
Power_Parity_Rs_330000_425000    33
Power_Parity_Rs_425000_545000    30
Power_Parity_Rs_330000_545000    23
Power_Parity_Above_Rs_545000     30
Total_Power_Parity               32
Length: 118, dtype: int64

In [81]:
new_df[new_df['State/UT']=='Haryana']

,District code,State/UT,District,Population,Male,Female,Literate,Literate_Male,Literate_Female,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
68,69,Haryana,Panchkula,561293.0,299679.0,261614.0,405318.0,229862.0,175456.0,101830.0,...,344.0,540.0,187.0,180.0,367.0,101.0,157.0,258.0,238.0,1445.0
69,70,Haryana,Ambala,1128350.0,598703.0,NaN,818025.0,461288.0,356737.0,296246.0,...,622.0,1113.0,NaN,294.0,680.0,227.0,NaN,591.0,297.0,2781.0
70,71,Haryana,Yamunanagar,1214205.0,646718.0,567487.0,832457.0,474793.0,357664.0,306743.0,...,591.0,1029.0,348.0,288.0,636.0,209.0,336.0,545.0,273.0,2575.0
71,72,Haryana,Kurukshetra,964655.0,510976.0,453679.0,646893.0,370828.0,276065.0,215128.0,...,448.0,864.0,319.0,203.0,522.0,183.0,295.0,478.0,190.0,2137.0
72,73,Haryana,Kaithal,1074304.0,571003.0,503301.0,646529.0,385782.0,260747.0,247513.0,...,364.0,855.0,333.0,185.0,518.0,212.0,324.0,536.0,34.0,2046.0
73,74,Haryana,Karnal,1505324.0,797712.0,707612.0,978013.0,564516.0,413497.0,339604.0,...,658.0,1388.0,530.0,304.0,834.0,318.0,NaN,829.0,168.0,3368.0
74,75,Haryana,Panipat,1205437.0,646857.0,558580.0,786599.0,464136.0,322463.0,206213.0,...,591.0,1035.0,357.0,278.0,635.0,217.0,349.0,566.0,NaN,2559.0
75,76,Haryana,Sonipat,1450001.0,781299.0,668702.0,998316.0,589881.0,408435.0,269935.0,...,858.0,NaN,585.0,404.0,989.0,336.0,540.0,876.0,NaN,4054.0
76,77,Haryana,Jind,1334152.0,713006.0,621146.0,832758.0,502049.0,330709.0,282351.0,...,472.0,1122.0,441.0,238.0,679.0,279.0,433.0,712.0,29.0,2674.0
77,78,Haryana,Fatehabad,942011.0,495360.0,446651.0,557578.0,327471.0,230107.0,284357.0,...,330.0,774.0,304.0,161.0,465.0,187.0,301.0,488.0,39.0,1854.0
78,79,Haryana,Sirsa,1295189.0,682582.0,612607.0,782897.0,456968.0,325929.0,387381.0,...,538.0,1107.0,435.0,228.0,NaN,252.0,405.0,657.0,140.0,2681.0
79,80,Haryana,Hisar,1743931.0,931562.0,812369.0,1114311.0,670200.0,444111.0,408785.0,...,690.0,1518.0,577.0,340.0,917.0,362.0,579.0,941.0,100.0,3642.0
80,81,Haryana,Bhiwani,1634445.0,866672.0,767773.0,1069871.0,643158.0,426713.0,341162.0,...,NaN,1384.0,549.0,278.0,827.0,321.0,NaN,837.0,149.0,3349.0
81,82,Haryana,Rohtak,1061204.0,568479.0,492725.0,747582.0,436025.0,311557.0,216889.0,...,NaN,909.0,296.0,265.0,561.0,177.0,284.0,461.0,291.0,2299.0
82,83,Haryana,Jhajjar,958405.0,514667.0,443738.0,676091.0,399480.0,276611.0,170448.0,...,452.0,NaN,305.0,NaN,524.0,171.0,275.0,446.0,260.0,2169.0
83,84,Haryana,Mahendragarh,922088.0,486665.0,435423.0,630255.0,NaN,249815.0,156314.0,...,363.0,NaN,303.0,157.0,460.0,169.0,270.0,439.0,144.0,1894.0
84,85,Haryana,Rewari,900332.0,474335.0,425997.0,636947.0,NaN,261494.0,182606.0,...,421.0,780.0,270.0,208.0,478.0,153.0,247.0,400.0,249.0,1979.0
85,86,Haryana,Gurgaon,1514432.0,816690.0,697742.0,1111116.0,638666.0,472450.0,197937.0,...,714.0,1118.0,409.0,386.0,795.0,220.0,311.0,531.0,577.0,3107.0
86,87,Haryana,Mewat,1089263.0,571162.0,518101.0,454897.0,308435.0,146462.0,75251.0,...,296.0,856.0,NaN,175.0,524.0,229.0,311.0,540.0,12.0,NaN
87,88,Haryana,Faridabad,1809733.0,966110.0,843623.0,1272739.0,734940.0,537799.0,223799.0,...,1321.0,2050.0,NaN,640.0,1278.0,416.0,670.0,1086.0,511.0,5080.0
88,89,Haryana,Palwal,1042708.0,554497.0,488211.0,599796.0,379696.0,220100.0,203123.0,...,429.0,945.0,365.0,205.0,570.0,NaN,342.0,561.0,117.0,2297.0

# ----------------25-5-24---------------------------

In [71]:
#--25/5/24
new_df=pd.read_excel("census_2011.xlsx")

In [72]:
new_df

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,1048.0,...,94.0,588.0,71.0,101.0,172.0,74.0,10.0,84.0,15.0,1119.0
1,2,JAMMU AND KASHMIR,Badgam,753745.0,NaN,355704.0,335649.0,207741.0,127908.0,NaN,...,126.0,562.0,72.0,89.0,161.0,96.0,28.0,124.0,18.0,1066.0
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,488.0,...,46.0,122.0,15.0,22.0,NaN,20.0,NaN,NaN,17.0,242.0
3,4,JAMMU AND KASHMIR,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0
4,5,JAMMU AND KASHMIR,Punch,NaN,251899.0,224936.0,261724.0,163333.0,98391.0,556.0,...,78.0,346.0,35.0,50.0,85.0,59.0,8.0,67.0,12.0,629.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,PONDICHERRY,Mahe,41816.0,19143.0,22673.0,36470.0,16610.0,19860.0,144.0,...,2316.0,4309.0,1370.0,838.0,2208.0,576.0,978.0,1554.0,1446.0,10027.0
636,637,PONDICHERRY,Karaikal,200222.0,97809.0,102413.0,154916.0,79903.0,75013.0,35348.0,...,1063.0,2408.0,665.0,340.0,1005.0,246.0,NaN,729.0,341.0,4890.0
637,638,ANDAMAN AND NICOBAR ISLANDS,Nicobars,36842.0,20727.0,NaN,25332.0,15397.0,9935.0,0.0,...,685.0,1895.0,212.0,134.0,346.0,70.0,120.0,190.0,84.0,3151.0
638,639,ANDAMAN AND NICOBAR ISLANDS,North AND Middle Andaman,105597.0,54861.0,50736.0,78683.0,43186.0,35497.0,0.0,...,685.0,1895.0,212.0,NaN,346.0,70.0,120.0,190.0,84.0,3151.0
639,640,ANDAMAN AND NICOBAR ISLANDS,South Andaman,NaN,127283.0,110859.0,190266.0,105794.0,84472.0,0.0,...,1371.0,3020.0,649.0,368.0,1017.0,265.0,497.0,762.0,376.0,5782.0

In [73]:
column_map = {
  'State name': 'State/UT',
  'District name': 'District',
  'Male_Literate': 'Literate_Male',
  'Female_Literate': 'Literate_Female',
  'Rural_Households': 'Households_Rural',
  'Urban_ Households': 'Households_Urban',
  'Age_Group_0_29': 'Young_and_Adult',
  'Age_Group_30_49': 'Middle_Aged',
  'Age_Group_50': 'Senior_Citizen',
  'Age not stated': 'Age_Not_Stated'
}
new_df.rename(columns=column_map,inplace=True)
new_df

,District code,State/UT,District,Population,Male,Female,Literate,Literate_Male,Literate_Female,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,1048.0,...,94.0,588.0,71.0,101.0,172.0,74.0,10.0,84.0,15.0,1119.0
1,2,JAMMU AND KASHMIR,Badgam,753745.0,NaN,355704.0,335649.0,207741.0,127908.0,NaN,...,126.0,562.0,72.0,89.0,161.0,96.0,28.0,124.0,18.0,1066.0
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,488.0,...,46.0,122.0,15.0,22.0,NaN,20.0,NaN,NaN,17.0,242.0
3,4,JAMMU AND KASHMIR,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0
4,5,JAMMU AND KASHMIR,Punch,NaN,251899.0,224936.0,261724.0,163333.0,98391.0,556.0,...,78.0,346.0,35.0,50.0,85.0,59.0,8.0,67.0,12.0,629.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,PONDICHERRY,Mahe,41816.0,19143.0,22673.0,36470.0,16610.0,19860.0,144.0,...,2316.0,4309.0,1370.0,838.0,2208.0,576.0,978.0,1554.0,1446.0,10027.0
636,637,PONDICHERRY,Karaikal,200222.0,97809.0,102413.0,154916.0,79903.0,75013.0,35348.0,...,1063.0,2408.0,665.0,340.0,1005.0,246.0,NaN,729.0,341.0,4890.0
637,638,ANDAMAN AND NICOBAR ISLANDS,Nicobars,36842.0,20727.0,NaN,25332.0,15397.0,9935.0,0.0,...,685.0,1895.0,212.0,134.0,346.0,70.0,120.0,190.0,84.0,3151.0
638,639,ANDAMAN AND NICOBAR ISLANDS,North AND Middle Andaman,105597.0,54861.0,50736.0,78683.0,43186.0,35497.0,0.0,...,685.0,1895.0,212.0,NaN,346.0,70.0,120.0,190.0,84.0,3151.0
639,640,ANDAMAN AND NICOBAR ISLANDS,South Andaman,NaN,127283.0,110859.0,190266.0,105794.0,84472.0,0.0,...,1371.0,3020.0,649.0,368.0,1017.0,265.0,497.0,762.0,376.0,5782.0

In [63]:
p=new_df.drop_duplicates('State/UT')

In [64]:
p['State/UT']

0                JAMMU AND KASHMIR
22                HIMACHAL PRADESH
34                          PUNJAB
54                      CHANDIGARH
55                     UTTARAKHAND
68                         HARYANA
89                    NCT OF DELHI
98                       RAJASTHAN
131                  UTTAR PRADESH
202                          BIHAR
240                         SIKKIM
244              ARUNACHAL PRADESH
260                       NAGALAND
271                        MANIPUR
280                        MIZORAM
288                        TRIPURA
292                      MEGHALAYA
299                          ASSAM
326                    WEST BENGAL
345                      JHARKHAND
369                         ORISSA
399                   CHHATTISGARH
417                 MADHYA PRADESH
467                        GUJARAT
493                  DAMAN AND DIU
495         DADRA AND NAGAR HAVELI
496                    MAHARASHTRA
531                 ANDHRA PRADESH
554                      KARNATAKA
584                            GOA
586                    LAKSHADWEEP
587                         KERALA
601                     TAMIL NADU
633                    PONDICHERRY
637    ANDAMAN AND NICOBAR ISLANDS
Name: State/UT, dtype: object

In [65]:
old_state_name=[]
for i in p['State/UT']:
    old_state_name.append(i)
print(old_state_name)

['JAMMU AND KASHMIR', 'HIMACHAL PRADESH', 'PUNJAB', 'CHANDIGARH', 'UTTARAKHAND', 'HARYANA', 'NCT OF DELHI', 'RAJASTHAN', 'UTTAR PRADESH', 'BIHAR', 'SIKKIM', 'ARUNACHAL PRADESH', 'NAGALAND', 'MANIPUR', 'MIZORAM', 'TRIPURA', 'MEGHALAYA', 'ASSAM', 'WEST BENGAL', 'JHARKHAND', 'ORISSA', 'CHHATTISGARH', 'MADHYA PRADESH', 'GUJARAT', 'DAMAN AND DIU', 'DADRA AND NAGAR HAVELI', 'MAHARASHTRA', 'ANDHRA PRADESH', 'KARNATAKA', 'GOA', 'LAKSHADWEEP', 'KERALA', 'TAMIL NADU', 'PONDICHERRY', 'ANDAMAN AND NICOBAR ISLANDS']

In [66]:
new_state_name=[]

for i in old_state_name:
    l=[]
    temp=i.split()
    # print(temp)
    for j in temp:
        if j =='AND' or j =='and':
            l.append(j.lower())
        else:
            l.append(j.lower().capitalize())
    new_state_name.append(" ".join(l))

print(new_state_name)

['Jammu and Kashmir', 'Himachal Pradesh', 'Punjab', 'Chandigarh', 'Uttarakhand', 'Haryana', 'Nct Of Delhi', 'Rajasthan', 'Uttar Pradesh', 'Bihar', 'Sikkim', 'Arunachal Pradesh', 'Nagaland', 'Manipur', 'Mizoram', 'Tripura', 'Meghalaya', 'Assam', 'West Bengal', 'Jharkhand', 'Orissa', 'Chhattisgarh', 'Madhya Pradesh', 'Gujarat', 'Daman and Diu', 'Dadra and Nagar Haveli', 'Maharashtra', 'Andhra Pradesh', 'Karnataka', 'Goa', 'Lakshadweep', 'Kerala', 'Tamil Nadu', 'Pondicherry', 'Andaman and Nicobar Islands']

In [67]:
print(old_state_name)
print(new_state_name)

['JAMMU AND KASHMIR', 'HIMACHAL PRADESH', 'PUNJAB', 'CHANDIGARH', 'UTTARAKHAND', 'HARYANA', 'NCT OF DELHI', 'RAJASTHAN', 'UTTAR PRADESH', 'BIHAR', 'SIKKIM', 'ARUNACHAL PRADESH', 'NAGALAND', 'MANIPUR', 'MIZORAM', 'TRIPURA', 'MEGHALAYA', 'ASSAM', 'WEST BENGAL', 'JHARKHAND', 'ORISSA', 'CHHATTISGARH', 'MADHYA PRADESH', 'GUJARAT', 'DAMAN AND DIU', 'DADRA AND NAGAR HAVELI', 'MAHARASHTRA', 'ANDHRA PRADESH', 'KARNATAKA', 'GOA', 'LAKSHADWEEP', 'KERALA', 'TAMIL NADU', 'PONDICHERRY', 'ANDAMAN AND NICOBAR ISLANDS']
['Jammu and Kashmir', 'Himachal Pradesh', 'Punjab', 'Chandigarh', 'Uttarakhand', 'Haryana', 'Nct Of Delhi', 'Rajasthan', 'Uttar Pradesh', 'Bihar', 'Sikkim', 'Arunachal Pradesh', 'Nagaland', 'Manipur', 'Mizoram', 'Tripura', 'Meghalaya', 'Assam', 'West Bengal', 'Jharkhand', 'Orissa', 'Chhattisgarh', 'Madhya Pradesh', 'Gujarat', 'Daman and Diu', 'Dadra and Nagar Haveli', 'Maharashtra', 'Andhra Pradesh', 'Karnataka', 'Goa', 'Lakshadweep', 'Kerala', 'Tamil Nadu', 'Pondicherry', 'Andaman and Nicobar Islands']

In [74]:
for i in range(len(old_state_name)):
    new_df.replace(to_replace=old_state_name[i],value=new_state_name[i],inplace=True)
new_df

,District code,State/UT,District,Population,Male,Female,Literate,Literate_Male,Literate_Female,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,Jammu and Kashmir,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,1048.0,...,94.0,588.0,71.0,101.0,172.0,74.0,10.0,84.0,15.0,1119.0
1,2,Jammu and Kashmir,Badgam,753745.0,NaN,355704.0,335649.0,207741.0,127908.0,NaN,...,126.0,562.0,72.0,89.0,161.0,96.0,28.0,124.0,18.0,1066.0
2,3,Jammu and Kashmir,Leh(Ladakh),133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,488.0,...,46.0,122.0,15.0,22.0,NaN,20.0,NaN,NaN,17.0,242.0
3,4,Jammu and Kashmir,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0
4,5,Jammu and Kashmir,Punch,NaN,251899.0,224936.0,261724.0,163333.0,98391.0,556.0,...,78.0,346.0,35.0,50.0,85.0,59.0,8.0,67.0,12.0,629.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,Pondicherry,Mahe,41816.0,19143.0,22673.0,36470.0,16610.0,19860.0,144.0,...,2316.0,4309.0,1370.0,838.0,2208.0,576.0,978.0,1554.0,1446.0,10027.0
636,637,Pondicherry,Karaikal,200222.0,97809.0,102413.0,154916.0,79903.0,75013.0,35348.0,...,1063.0,2408.0,665.0,340.0,1005.0,246.0,NaN,729.0,341.0,4890.0
637,638,Andaman and Nicobar Islands,Nicobars,36842.0,20727.0,NaN,25332.0,15397.0,9935.0,0.0,...,685.0,1895.0,212.0,134.0,346.0,70.0,120.0,190.0,84.0,3151.0
638,639,Andaman and Nicobar Islands,North AND Middle Andaman,105597.0,54861.0,50736.0,78683.0,43186.0,35497.0,0.0,...,685.0,1895.0,212.0,NaN,346.0,70.0,120.0,190.0,84.0,3151.0
639,640,Andaman and Nicobar Islands,South Andaman,NaN,127283.0,110859.0,190266.0,105794.0,84472.0,0.0,...,1371.0,3020.0,649.0,368.0,1017.0,265.0,497.0,762.0,376.0,5782.0

In [75]:
replace_state_names= [
    "Adilabad",
    "Nizamabad",
    "Karimnagar",
    "Medak",
    "Hyderabad",
    "Rangareddy",
    "Mahbubnagar",
    "Nalgonda",
    "Warangal",
    "Khammam"   
]

new_df.loc[new_df['District'].isin(replace_state_names),'State/UT'] = 'Telangana'
# new_df.loc[new_df['District name'].isin(tel), 'State name'] = 'Telangana'
# new_df[new_df['District'].isin(replace_state_names)]

In [76]:
new_df

,District code,State/UT,District,Population,Male,Female,Literate,Literate_Male,Literate_Female,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,Jammu and Kashmir,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,1048.0,...,94.0,588.0,71.0,101.0,172.0,74.0,10.0,84.0,15.0,1119.0
1,2,Jammu and Kashmir,Badgam,753745.0,NaN,355704.0,335649.0,207741.0,127908.0,NaN,...,126.0,562.0,72.0,89.0,161.0,96.0,28.0,124.0,18.0,1066.0
2,3,Jammu and Kashmir,Leh(Ladakh),133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,488.0,...,46.0,122.0,15.0,22.0,NaN,20.0,NaN,NaN,17.0,242.0
3,4,Jammu and Kashmir,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0
4,5,Jammu and Kashmir,Punch,NaN,251899.0,224936.0,261724.0,163333.0,98391.0,556.0,...,78.0,346.0,35.0,50.0,85.0,59.0,8.0,67.0,12.0,629.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,Pondicherry,Mahe,41816.0,19143.0,22673.0,36470.0,16610.0,19860.0,144.0,...,2316.0,4309.0,1370.0,838.0,2208.0,576.0,978.0,1554.0,1446.0,10027.0
636,637,Pondicherry,Karaikal,200222.0,97809.0,102413.0,154916.0,79903.0,75013.0,35348.0,...,1063.0,2408.0,665.0,340.0,1005.0,246.0,NaN,729.0,341.0,4890.0
637,638,Andaman and Nicobar Islands,Nicobars,36842.0,20727.0,NaN,25332.0,15397.0,9935.0,0.0,...,685.0,1895.0,212.0,134.0,346.0,70.0,120.0,190.0,84.0,3151.0
638,639,Andaman and Nicobar Islands,North AND Middle Andaman,105597.0,54861.0,50736.0,78683.0,43186.0,35497.0,0.0,...,685.0,1895.0,212.0,NaN,346.0,70.0,120.0,190.0,84.0,3151.0
639,640,Andaman and Nicobar Islands,South Andaman,NaN,127283.0,110859.0,190266.0,105794.0,84472.0,0.0,...,1371.0,3020.0,649.0,368.0,1017.0,265.0,497.0,762.0,376.0,5782.0

In [77]:
p=new_df[new_df['District'].isin(replace_state_names)]
p

,District code,State/UT,District,Population,Male,Female,Literate,Literate_Male,Literate_Female,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
531,532,Telangana,Adilabad,2741239.0,NaN,1371642.0,1483347.0,856350.0,626997.0,488596.0,...,1266.0,2870.0,84.0,122.0,206.0,134.0,213.0,347.0,109.0,4181.0
532,533,Telangana,Nizamabad,2551335.0,1250641.0,1300694.0,1389810.0,790214.0,599596.0,371074.0,...,931.0,2399.0,61.0,60.0,121.0,71.0,105.0,176.0,100.0,NaN
533,534,Telangana,Karimnagar,3776269.0,1880800.0,1895469.0,2206829.0,1257238.0,949591.0,709757.0,...,1420.0,3583.0,128.0,99.0,227.0,119.0,173.0,292.0,186.0,5251.0
534,535,Telangana,Medak,3033288.0,1523030.0,1510258.0,1637137.0,953406.0,683731.0,537947.0,...,997.0,2656.0,84.0,59.0,143.0,71.0,102.0,173.0,116.0,3874.0
535,536,Telangana,Hyderabad,3943323.0,2018575.0,1924748.0,2892155.0,1542688.0,1349467.0,247927.0,...,3204.0,5212.0,1708.0,494.0,2202.0,NaN,860.0,1531.0,1710.0,11071.0
536,537,Telangana,Rangareddy,5296741.0,2701008.0,2595733.0,NaN,1948784.0,1589244.0,652042.0,...,2912.0,5426.0,528.0,373.0,901.0,438.0,650.0,1088.0,603.0,NaN
537,538,Telangana,Mahbubnagar,4053028.0,2050386.0,2002642.0,1940646.0,1158386.0,782260.0,708954.0,...,1137.0,3241.0,70.0,54.0,124.0,65.0,95.0,160.0,102.0,4695.0
538,539,Telangana,Nalgonda,3488809.0,1759772.0,1729037.0,2001019.0,1160757.0,840262.0,637385.0,...,1106.0,3043.0,NaN,72.0,136.0,84.0,125.0,209.0,113.0,4468.0
539,540,Telangana,Warangal,3512576.0,1759281.0,1753295.0,2065023.0,1179790.0,885233.0,616102.0,...,1203.0,3139.0,135.0,93.0,228.0,112.0,162.0,274.0,185.0,4762.0
540,541,Telangana,Khammam,2797370.0,1390988.0,1406382.0,1630234.0,901640.0,728594.0,462896.0,...,1012.0,2596.0,75.0,78.0,153.0,92.0,136.0,NaN,127.0,3836.0

In [79]:
new_df.head(30)

,District code,State/UT,District,Population,Male,Female,Literate,Literate_Male,Literate_Female,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,Jammu and Kashmir,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,1048.0,...,94.0,588.0,71.0,101.0,172.0,74.0,10.0,84.0,15.0,1119.0
1,2,Jammu and Kashmir,Badgam,753745.0,NaN,355704.0,335649.0,207741.0,127908.0,NaN,...,126.0,562.0,72.0,89.0,161.0,96.0,28.0,124.0,18.0,1066.0
2,3,Jammu and Kashmir,Leh(Ladakh),133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,488.0,...,46.0,122.0,15.0,22.0,NaN,20.0,NaN,NaN,17.0,242.0
3,4,Jammu and Kashmir,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0
4,5,Jammu and Kashmir,Punch,NaN,251899.0,224936.0,261724.0,163333.0,98391.0,556.0,...,78.0,346.0,35.0,50.0,85.0,59.0,8.0,67.0,12.0,629.0
5,6,Jammu and Kashmir,Rajouri,642415.0,345351.0,297064.0,364109.0,224469.0,139640.0,48157.0,...,NaN,443.0,42.0,NaN,100.0,72.0,22.0,94.0,15.0,786.0
6,7,Jammu and Kashmir,Kathua,616435.0,326109.0,290326.0,389204.0,228499.0,160705.0,141224.0,...,174.0,514.0,54.0,69.0,123.0,78.0,52.0,130.0,28.0,936.0
7,8,Jammu and Kashmir,Baramula,1008039.0,534733.0,473306.0,NaN,337170.0,207979.0,1476.0,...,254.0,1049.0,155.0,190.0,345.0,NaN,78.0,255.0,64.0,2100.0
8,9,Jammu and Kashmir,Bandipore,392232.0,207680.0,184552.0,185979.0,117058.0,68921.0,392.0,...,11.0,NaN,2.0,2.0,4.0,3.0,3.0,6.0,0.0,45.0
9,10,Jammu and Kashmir,Srinagar,1236829.0,651124.0,585705.0,748584.0,431746.0,316838.0,1068.0,...,668.0,1095.0,319.0,380.0,699.0,240.0,370.0,610.0,445.0,3099.0
10,11,Jammu and Kashmir,Ganderbal,297446.0,158720.0,138726.0,143276.0,NaN,52695.0,117.0,...,5.0,15.0,1.0,1.0,2.0,2.0,1.0,3.0,0.0,24.0
11,12,Jammu and Kashmir,Pulwama,560440.0,293064.0,267376.0,293958.0,178326.0,115632.0,402.0,...,119.0,549.0,71.0,96.0,167.0,84.0,24.0,108.0,32.0,1068.0
12,13,Jammu and Kashmir,Shupiyan,266215.0,136480.0,129735.0,136500.0,80355.0,56145.0,43.0,...,39.0,257.0,33.0,47.0,80.0,29.0,6.0,35.0,9.0,500.0
13,14,Jammu and Kashmir,Anantnag,1078692.0,559767.0,518925.0,NaN,324417.0,221115.0,1826.0,...,254.0,1092.0,151.0,191.0,NaN,181.0,68.0,249.0,57.0,2144.0
14,15,Jammu and Kashmir,Kulgam,424483.0,NaN,206863.0,209085.0,125052.0,84033.0,21.0,...,8.0,17.0,1.0,1.0,2.0,2.0,2.0,4.0,0.0,26.0
15,16,Jammu and Kashmir,Doda,409936.0,213641.0,196295.0,219083.0,138620.0,80463.0,53408.0,...,99.0,566.0,75.0,102.0,177.0,74.0,19.0,93.0,NaN,1103.0
16,17,Jammu and Kashmir,Ramban,283713.0,NaN,134581.0,124065.0,82938.0,41127.0,13920.0,...,3.0,6.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,NaN
17,18,Jammu and Kashmir,Kishtwar,230696.0,120165.0,NaN,NaN,68700.0,38806.0,14307.0,...,8.0,19.0,NaN,1.0,2.0,2.0,3.0,5.0,0.0,28.0
18,19,Jammu and Kashmir,Udhampur,554985.0,296784.0,258201.0,322354.0,197543.0,124811.0,138569.0,...,171.0,663.0,87.0,107.0,194.0,122.0,43.0,165.0,37.0,1278.0
19,20,Jammu and Kashmir,Reasi,314667.0,166461.0,148206.0,150542.0,93937.0,56605.0,37757.0,...,5.0,10.0,1.0,1.0,2.0,1.0,1.0,2.0,1.0,17.0
20,21,Jammu and Kashmir,Jammu,1529958.0,813821.0,716137.0,1137135.0,641916.0,495219.0,377991.0,...,682.0,1509.0,281.0,382.0,663.0,282.0,271.0,553.0,398.0,3525.0
21,22,Jammu and Kashmir,Samba,318898.0,169124.0,149774.0,228139.0,130312.0,97827.0,91835.0,...,89.0,380.0,48.0,62.0,110.0,60.0,21.0,81.0,18.0,728.0
22,23,Himachal Pradesh,Chamba,519080.0,261320.0,257760.0,323842.0,186064.0,137778.0,111690.0,...,222.0,498.0,72.0,38.0,110.0,49.0,79.0,128.0,97.0,950.0
23,24,Himachal Pradesh,Kangra,1510075.0,750591.0,759484.0,1152640.0,606443.0,546197.0,319385.0,...,706.0,1506.0,252.0,101.0,353.0,127.0,206.0,333.0,369.0,2878.0
24,25,Himachal Pradesh,Lahul AND Spiti,31564.0,16588.0,14976.0,21845.0,12897.0,8948.0,2235.0,...,17.0,36.0,6.0,2.0,8.0,3.0,5.0,8.0,9.0,67.0
25,26,Himachal Pradesh,Kullu,437903.0,225452.0,212451.0,307672.0,174550.0,133122.0,122659.0,...,205.0,444.0,70.0,35.0,105.0,41.0,67.0,108.0,100.0,854.0
26,27,Himachal Pradesh,Mandi,999777.0,498065.0,501712.0,723747.0,393669.0,330078.0,293739.0,...,431.0,966.0,131.0,77.0,208.0,93.0,152.0,245.0,190.0,1842.0
27,28,Himachal Pradesh,Hamirpur,454768.0,217070.0,237698.0,358091.0,180555.0,177536.0,NaN,...,215.0,455.0,77.0,NaN,111.0,40.0,64.0,104.0,113.0,NaN
28,29,Himachal Pradesh,Una,521173.0,263692.0,257481.0,399715.0,213281.0,186434.0,115491.0,...,240.0,NaN,87.0,38.0,125.0,46.0,75.0,121.0,122.0,987.0
29,30,Himachal Pradesh,Bilaspur,381956.0,192764.0,189192.0,287620.0,155599.0,132021.0,98989.0,...,671.0,1885.0,271.0,221.0,492.0,315.0,374.0,689.0,72.0,3666.0

In [81]:
new_df.loc[new_df['District'].isin(['Leh(Ladakh)','Kargil']),'State/UT']='Ladakh'
new_df.head(15)

,District code,State/UT,District,Population,Male,Female,Literate,Literate_Male,Literate_Female,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,Jammu and Kashmir,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,1048.0,...,94.0,588.0,71.0,101.0,172.0,74.0,10.0,84.0,15.0,1119.0
1,2,Jammu and Kashmir,Badgam,753745.0,NaN,355704.0,335649.0,207741.0,127908.0,NaN,...,126.0,562.0,72.0,89.0,161.0,96.0,28.0,124.0,18.0,1066.0
2,3,Ladakh,Leh(Ladakh),133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,488.0,...,46.0,122.0,15.0,22.0,NaN,20.0,NaN,NaN,17.0,242.0
3,4,Ladakh,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0
4,5,Jammu and Kashmir,Punch,NaN,251899.0,224936.0,261724.0,163333.0,98391.0,556.0,...,78.0,346.0,35.0,50.0,85.0,59.0,8.0,67.0,12.0,629.0
5,6,Jammu and Kashmir,Rajouri,642415.0,345351.0,297064.0,364109.0,224469.0,139640.0,48157.0,...,NaN,443.0,42.0,NaN,100.0,72.0,22.0,94.0,15.0,786.0
6,7,Jammu and Kashmir,Kathua,616435.0,326109.0,290326.0,389204.0,228499.0,160705.0,141224.0,...,174.0,514.0,54.0,69.0,123.0,78.0,52.0,130.0,28.0,936.0
7,8,Jammu and Kashmir,Baramula,1008039.0,534733.0,473306.0,NaN,337170.0,207979.0,1476.0,...,254.0,1049.0,155.0,190.0,345.0,NaN,78.0,255.0,64.0,2100.0
8,9,Jammu and Kashmir,Bandipore,392232.0,207680.0,184552.0,185979.0,117058.0,68921.0,392.0,...,11.0,NaN,2.0,2.0,4.0,3.0,3.0,6.0,0.0,45.0
9,10,Jammu and Kashmir,Srinagar,1236829.0,651124.0,585705.0,748584.0,431746.0,316838.0,1068.0,...,668.0,1095.0,319.0,380.0,699.0,240.0,370.0,610.0,445.0,3099.0
10,11,Jammu and Kashmir,Ganderbal,297446.0,158720.0,138726.0,143276.0,NaN,52695.0,117.0,...,5.0,15.0,1.0,1.0,2.0,2.0,1.0,3.0,0.0,24.0
11,12,Jammu and Kashmir,Pulwama,560440.0,293064.0,267376.0,293958.0,178326.0,115632.0,402.0,...,119.0,549.0,71.0,96.0,167.0,84.0,24.0,108.0,32.0,1068.0
12,13,Jammu and Kashmir,Shupiyan,266215.0,136480.0,129735.0,136500.0,80355.0,56145.0,43.0,...,39.0,257.0,33.0,47.0,80.0,29.0,6.0,35.0,9.0,500.0
13,14,Jammu and Kashmir,Anantnag,1078692.0,559767.0,518925.0,NaN,324417.0,221115.0,1826.0,...,254.0,1092.0,151.0,191.0,NaN,181.0,68.0,249.0,57.0,2144.0
14,15,Jammu and Kashmir,Kulgam,424483.0,NaN,206863.0,209085.0,125052.0,84033.0,21.0,...,8.0,17.0,1.0,1.0,2.0,2.0,2.0,4.0,0.0,26.0

In [82]:
new_df

,District code,State/UT,District,Population,Male,Female,Literate,Literate_Male,Literate_Female,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,Jammu and Kashmir,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,1048.0,...,94.0,588.0,71.0,101.0,172.0,74.0,10.0,84.0,15.0,1119.0
1,2,Jammu and Kashmir,Badgam,753745.0,NaN,355704.0,335649.0,207741.0,127908.0,NaN,...,126.0,562.0,72.0,89.0,161.0,96.0,28.0,124.0,18.0,1066.0
2,3,Ladakh,Leh(Ladakh),133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,488.0,...,46.0,122.0,15.0,22.0,NaN,20.0,NaN,NaN,17.0,242.0
3,4,Ladakh,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0
4,5,Jammu and Kashmir,Punch,NaN,251899.0,224936.0,261724.0,163333.0,98391.0,556.0,...,78.0,346.0,35.0,50.0,85.0,59.0,8.0,67.0,12.0,629.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,Pondicherry,Mahe,41816.0,19143.0,22673.0,36470.0,16610.0,19860.0,144.0,...,2316.0,4309.0,1370.0,838.0,2208.0,576.0,978.0,1554.0,1446.0,10027.0
636,637,Pondicherry,Karaikal,200222.0,97809.0,102413.0,154916.0,79903.0,75013.0,35348.0,...,1063.0,2408.0,665.0,340.0,1005.0,246.0,NaN,729.0,341.0,4890.0
637,638,Andaman and Nicobar Islands,Nicobars,36842.0,20727.0,NaN,25332.0,15397.0,9935.0,0.0,...,685.0,1895.0,212.0,134.0,346.0,70.0,120.0,190.0,84.0,3151.0
638,639,Andaman and Nicobar Islands,North AND Middle Andaman,105597.0,54861.0,50736.0,78683.0,43186.0,35497.0,0.0,...,685.0,1895.0,212.0,NaN,346.0,70.0,120.0,190.0,84.0,3151.0
639,640,Andaman and Nicobar Islands,South Andaman,NaN,127283.0,110859.0,190266.0,105794.0,84472.0,0.0,...,1371.0,3020.0,649.0,368.0,1017.0,265.0,497.0,762.0,376.0,5782.0

In [94]:
if new_df['Population'].isnull().any():  # Check for any null values
    new_df['Population'].fillna(1)  # Replace nulls with 1

In [95]:
new_df['Population']

0      870354.0
1      753745.0
2      133487.0
3      140802.0
4           1.0
         ...
635     41816.0
636    200222.0
637     36842.0
638    105597.0
639         1.0
Name: Population, Length: 640, dtype: float64

In [1]:
new_df.info()

NameError: name 'new_df' is not defined